# DOMAIN_NAME and SUBDOMAIN together determine where n8n will be reachable from
# The top level domain to serve from
DOMAIN_NAME=solercia.com.co

# The subdomain to serve from
SUBDOMAIN_FLOWS=flows
SUBDOMAIN_DEV=devs
SUBDOMAIN_WEB=www


GENERIC_TIMEZONE=America/Bogota

# The email address to use for the TLS/SSL certificate creation
SSL_EMAIL=

LLM_API_KEY=
LLM_API_NAME=

#GOOGLE CALENDAR: https://docs.n8n.io/integrations/builtin/credentials/google/oauth-single-service/#finish-your-n8n-credential